html
  head
    link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet')
    link(rel='stylesheet' href='public/app.css')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  body
    section#main-container
      footer.site-footer
        div(class="container")
          div(class="row")
            div(class="col s12 13 center-aling")
              a(class='dropdown-button btn btn-flat' href='#' data-activates='dropdown1') Idioma
              ul#dropdown1.dropdown-content
                li
                  a(href='#!') Español
                li
                  a(href='#!') Ingles
            div(class="col s12 13 push-l6 center-aling") ® 2017 CODEX   
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')